<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Account details</h1>
            </div>
        </div>
        
	        <div class="row">
	        	<div class="col-md-3">
					<div class="list-group">
		            	<a href="#/accountDetails" class="list-group-item">Account details</a>
		                <a href="#/contactInfo" class="list-group-item">Contact info</a>
		                <a href="#/orderHistory" class="list-group-item">Order history</a>
		                <a href="#/wishlist" class="list-group-item">Wishlist</a>
	          		</div>
	            </div>
		      	<div class="col-md-6 pull-left">
		      		<div class="row">					
						<div class="alert alert-danger fade in"  data-ng-show="error">
							<a href="" class="close" aria-label="close" data-ng-click="refresh()">&times;</a>
							<p class="text-center">{{error}}</p>
						</div>
					</div>
		      		<form role="form"  data-ng-submit="changeEmail()">
				    	<div class="form-group">
				        	<label for="firstName">First name:</label>
				            <input type="text" class="form-control" name="firstName" id="firstName" disabled="disabled" data-ng-model="user.firstName" value="user.firstName"/>
				       </div>
				       <div class="form-group">
				            <label for="lastName">Last name:</label>
				            <input type="text" class="form-control" name="lastName" id="lastName" disabled="disabled" data-ng-model="user.lastName" value="user.lastName"/>
				       </div>
				       <div class="form-group">
				            <label for="email">Email:</label>
				            <input type="text" class="form-control" name="email" id="email" required="required" data-ng-model="user.email" value="user.email" autocomplete="off"/>
				       </div>
				       <div class="form-group">
				            <label for="username">Username:</label>
				            <input type="text" class="form-control" name="username" id="username" disabled="disabled" data-ng-model="user.username" value="user.username"/>
				       </div>
				       <div class="form-group">
				            <label for="password">Password:</label>
				            <input type="password" class="form-control" name="password" id="password" required="required" data-ng-model="user.password"/>
				       </div>
				            <button type="submit" class="btn btn-success">Change <span class="glyphicon glyphicon-ok"></span></button>
				       </form>
				<hr/>
				<h2 class="page-heading">Change password</h2>
					<div class="row">					
						<div class="alert alert-danger fade in"  data-ng-show="passerror">
							<a href="" class="close" aria-label="close" data-ng-click="reset()">&times;</a>
							<p class="text-center">{{passerror}}</p>
						</div>
					</div>
					<form role="form" data-ng-submit="changePassword()">
				       <div class="form-group">
				            <label for="current_password">Current password:</label>
				            <input type="password" class="form-control" name="current_password" id="current_password" required="required" data-ng-model="user.oldPassword"/>
				       </div>
				       <div class="form-group">
				            <label for="new_password">New password:</label>
				            <input type="password" class="form-control" name="new_password" id="new_password" required="required" data-ng-model="user.newPassword"/>
				       </div>
				       <div class="form-group">
				            <label for="repeated_password">Retype password:</label>
				            <input type="password" class="form-control" name="repeated_password" id="repeated_password" required="required" data-ng-model="user.repeatedPassword"/>
				       </div>
				            <button type="submit" class="btn btn-success">Change <span class="glyphicon glyphicon-ok"></span></button>
				    </form>
					   <br/>
		      	</div>
		      	
		      	 <div id="myAccount" class="modal fade" role="dialog">
					<div class="modal-dialog">	
						<div class="modal-content">
					    	
					    	<div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal">&times;</button>
					            <h4 class="modal-title">Account details</h4>
					        </div>          
					        
					        <div class="modal-body">
								<p>You have updated your account details.</p>
					        </div>
					        
					        <div class="modal-footer">
					        	<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Continue</button>
					        </div>
						</div>	
					</div>
				</div>
				      	
		    </div>
</div>
