<div class="container">

				<div class="row">
		            <div class="col-lg-12">
		                <h1 class="page-header">Administrators</h1>
		            </div>
	       		</div>
	        	
	        	<div class="row">
	   				<div class="col-md-12">
		   				<form id="form">
		   				<table data-datatable="ng" class="table table-hover table-bordered">
		   					<thead>
			   					<tr>
			   						<th>ID</th>
			   						<th>First Name</th>
			   						<th>Last Name</th>
			   						<th>Email</th>
			   						<th>Username</th>
			   						<th>Registration date</th>
			   						<th>User state</th>
			   					</tr>
		   					</thead>
		   					<tbody>
			   					<tr data-ng-repeat="account in accounts">
			   						<td class="text-center"><strong>{{account.id}}</strong></td>
			   						<td>{{account.firstName}}</td>
			   						<td>{{account.lastName}}</td>
			   						<td>{{account.email}}</td>
			   						<td>{{account.username}}</td>
			   						<td>{{account.registrationDate}}</td>
			   						<td class="text-center"><a href="" data-ng-click="changeState(account.username)"><strong>{{account.state}}</strong></a></td>
			   					</tr>
		   					</tbody>
		   				</table>
		   				</form>
		   				<br/>
		   			</div>
		   		</div>
		   		
		   		<div class="row">
		   			<div class="col-md-12">
		   				<div class="col-md-offset-10 col-md-2">
		   					<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myAdmin"><strong>Add admin</strong> <span class="glyphicon glyphicon-plus-sign"></span></button>
		   				</div>
		   			</div>
		   		</div>
		   		
		   		<br/>
		   		
		   		<div id="myAdmin" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Register</h4>
				            	</div>          
				            	<div class="modal-body">
				         			<div class="row">
						            	<div class="col-sm-offset-1 col-sm-10">
											<div class="alert alert-danger fade in"  data-ng-show="error">
												<a href="" class="close" aria-label="close" data-ng-click="refresh()">&times;</a>
												<p class="text-center">{{error}}</p>
											</div>
										</div>
									</div>
				            		<form role="form" method="post" data-ng-submit="register()">
				            			<div class="form-group">
				            				<label for="firstName">First name:</label>
				            				<input type="text" class="form-control" name="firstName" id="firstName" data-ng-model="account.firstName" required="required" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="lastName">Last name:</label>
				            				<input type="text" class="form-control" name="lastName" id="lastName" data-ng-model="account.lastName" required="required" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="email">Email:</label>
				            				<input type="text" class="form-control" name="email" id="email" data-ng-model="account.email" required="required" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="username">Username:</label>
				            				<input type="text" class="form-control" name="username" id="username" data-minlength="6" title="Username must have a minimum length of 6 characters!" data-ng-model="account.username" required="required" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="password">Password:</label>
				            				<input type="password" class="form-control" name="password" id="password" data-minlength="6" title="Password must have a minimum length of 6 characters!" data-ng-model="account.password" required="required" autocomplete="off"/>
				            			</div>
				            			<button type="submit" id="registerButton" class="btn btn-success">Register <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				     
				            		</form>
				            	</div>
				          	</div>
				    	</div>
				    </div> 	
</div>

