<div class="container">
   		  <div class="row">
		  	<div class="col-lg-12">
		    	<h1 class="page-header">
		        	Search results
		        </h1>
		    </div>
		 </div>
		 <div class="row">
        	<div class="col-md-3">

				<div class="panel panel-default">
	   				<div class="panel-heading">
						<h4>Filter search</h4>
					</div>
	    			<div class="panel-body">
	    				<form role="form">
		            		<div class="form-group">
		            			<label for="quantity">Max price:</label>
		                		<select class="form-control" id="quantity" data-ng-model="maxprice" data-ng-change="search(maxprice, (books | filter: bookFilter).length)">
		                			<option value="10">$10.00</option>
		                			<option value="20">$20.00</option>
		                			<option value="50">$50.00</option>
		                			<option value="10000000000">Over $50.00</option>
		                		</select>
		                	</div>
	                	</form>
	    			</div>
	  			</div>
	  			
	  			<div data-ng-show="section">
		  			<p class="lead">Categories</p>
	                <div class="list-group">
	                	<a href="" class="list-group-item" data-ng-repeat="category in categories" data-ng-click="findBooks(category.name)">{{category.name}}</a>
	               	</div>
               	</div>   
            </div>
            
			<div class="col-md-9">
				<div class="row">
					<form role="form">
		            		<div class="form-group col-md-offset-4 col-md-4">
		            			<label for="wish">Order by:</label>
		                		<select class="form-control" id="wish" data-ng-model="sortOrder">
		                			<option value="-soldItems">Popularity</option>
		                			<option value="-price">Price (highest first)</option>
		                			<option value="+price">Price (lowest first)</option>
		                			<option value="+title">Title</option>
		                		</select>
		                	</div>
		            </form>
	            </div>
		       	<div class="col-md-4" data-ng-repeat="book in books | filter: bookFilter | orderBy: sortOrder | pagination: currentPage * pageSize | limitTo: pageSize">
                    <div class="thumbnail">
                    	<a href="" data-ng-click="viewBook(book.id)"><img data-ng-src="../../static/images/{{book.cover}}" alt="{{book.title}}"/></a>
                        <div class="caption">
	                   		<p><strong><a href=""  data-ng-click="viewBook(book.id)">{{book.title}}</a></strong></p>
	                        <p>{{book.author}}</p>
	                        <h4 class="pull-right">{{book.price|currency:"$"}}</h4>
	                	</div>
                    <div>
                    	<button type="button" class="btn btn-primary btn-block" data-ng-click="addToCart(book.id)" data-toggle="modal" data-target="#myCart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button> 
                    </div>
                  </div>
               </div>

			</div>
			
		<div id="myCart" class="modal fade" role="dialog">
			<div class="modal-dialog">	
				<div class="modal-content">
			    	
			    	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			            <h4 class="modal-title">Book added to your shopping cart</h4>
			        </div>          
			        
			        <div class="modal-body">
						<p>Total cost: <strong>{{order.totalCost|currency:"$"}}</strong></p>
			        </div>
			        
			        <div class="modal-footer">
			        	<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Continue</button>
			        </div>
				</div>	
			</div>
		</div>

        <div class="row text-center">
	        <div data-ng-show="books.length">
				<ul class="pagination">
					<li>
						<button type="button"  class="btn btn-primary" data-ng-disabled="currentPage == 0" data-ng-click="currentPage = currentPage - 1"><span class="glyphicon glyphicon-arrow-left"></span></button>
					</li>
					<li>
						<span id="paging"><strong>Page {{currentPage + 1}} of {{numberOfPages}}</strong></span>
					</li>
					<li>
						 <button type="button" class="btn btn-primary" data-ng-disabled="currentPage >= (books | filter: bookFilter).length /pageSize - 1" data-ng-click="currentPage = currentPage + 1"><span class="glyphicon glyphicon-arrow-right"></span></button>
					</li>
				</ul>
			</div>
		</div>
 		
	</div>
</div>
