
<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 id="title">{{book.title}}</h1>
                <h3>{{book.author}}</h3>
                <hr/>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <img class="img-responsive" data-ng-src="../../static/images/{{book.cover}}" alt="{{book.title}}"/>
            </div>

            <div class="col-md-6">
                <h3>Book description</h3>
                <p>{{book.description}}</p>
            </div>
            
            <div class="col-md-3">
            	<div class="panel panel-default">
	            	<div class="panel-heading">
	            		<h2 class="text-center">{{book.price|currency:"$"}}</h2>
	            	</div>
	            	<div class="panel-body">
		            	<button type="button" class="btn btn-primary btn-block" data-ng-click="addToCart(book.id)" data-toggle="modal" data-target="#myCart">Add to cart</button>
						<br/>
		                <button type="button" class="btn btn-info btn-block" data-ng-click="addToList(book.id, account)" data-toggle="modal" data-target="#myWish">Add to wishlist</button>
           			</div>
           			<div class="panel-footer">
           				<p class="text-center"><strong>{{book.availability}}</strong></p>
           			</div>
           		</div>
            </div>
            
        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Product details</h3>
           		<ul class="list-group">
           			<li class="list-group-item"><strong>Release date:</strong> {{book.releaseDate}}</li>
                    <li class="list-group-item"><strong>Publisher:</strong> {{book.publisher}}</li>
                    <li class="list-group-item"><strong>Language:</strong> {{book.language}}</li>
                    <li class="list-group-item"><strong>ISBN:</strong> {{book.isbn}}</li>
           		</ul>
           	</div>
        </div>
       
        
        <div class="row">
        	<h3 class="page-header">Related books</h3>
        	<div class="col-md-4 book-item" data-ng-repeat="book in books | limitTo: 3">
                <a href=""  data-ng-click="viewBook(book.id)">
                    <img class="img-responsive" data-ng-src="../../static/images/{{book.cover}}" alt="{{book.title}}"/>
                </a>
                <h3>
                    <a href="" data-ng-click="viewBook(book.id)">{{book.title}}</a>
                </h3>
                <p><strong>{{book.author}}</strong></p>
            </div>
      	</div>
      	
      	<div id="myCart" class="modal fade" role="dialog">
			<div class="modal-dialog">	
				<div class="modal-content">
			    	
			    	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			            <h4 class="modal-title">Book added to your shopping cart</h4>
			        </div>          
			        
			        <div class="modal-body">
						<p>Total cost: <strong>{{order.totalCost|currency:"$"}}</strong></p>
			        </div>
			        
			        <div class="modal-footer">
			        	<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Continue</button>
			        </div>
				</div>	
			</div>
		</div>
		
		<div id="myWish" class="modal fade" role="dialog">
			<div class="modal-dialog">	
				<div class="modal-content">
			    	
			    	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			            <h4 class="modal-title">Add book to your wishlist</h4>
			        </div>          
			        
			        <div class="modal-body">
						<p>Book added to your wishlist.</p>
			        </div>
			        
			        <div class="modal-footer">
			        	<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Continue</button>
			        </div>
				</div>	
			</div>
		</div>
      	
</div>
