<div class="container">

				<div class="row">
		            <div class="col-lg-12">
		                <h1 class="page-header">Books</h1>
		            </div>
	       		</div>
	        	
	        	<div class="row">
	   				<div class="col-md-12">
		   				<form id="form">
		   				<table data-datatable="ng" class="table table-hover table-bordered">
		   					<thead>
			   					<tr>
			   						<th>ID</th>
			   						<th>Title</th>
			   						<th>Author</th>
			   						<th>Price</th>
			   						<th>ISBN</th>
			   						<th>Category</th>
			   						<th>Available</th>
			   						<th>Sold</th>
			   						<th></th>
			   					</tr>
		   					</thead>
		   					<tbody>
			   					<tr data-ng-repeat="book in books">
			   						<td class="text-center"><strong>{{book.id}}</strong></td>
			   						<td><a href="" data-toggle="modal" data-target="#myBook" data-ng-click="findBookById(book.id)">{{book.title}}</a></td>
			   						<td>{{book.author}}</td>
			   						<td class="text-center"><a href="" data-toggle="modal" data-target="#myPrice" data-ng-click="findBookById(book.id)">{{book.price|currency:"$"}}</a></td>
			   						<td>{{book.isbn}}</td>
			   						<td><a href="" data-toggle="modal" data-target="#myCategory" data-ng-click="findBookById(book.id)">{{book.category.name}}</a></td>
			   						<td class="text-center"><a href="" data-toggle="modal" data-target="#myQuantity" data-ng-click="findBookById(book.id)">{{book.availableItems}}</a></td>
			   						<td class="text-center">{{book.soldItems}}</td>
			   						<td class="text-center"><button class="btn btn-primary btn-danger btn-xs" data-toggle="modal" data-target="#deleteBook" data-ng-click="findBookById(book.id)"><span class="glyphicon glyphicon-remove"></span></button></td>
			   					</tr>
		   					</tbody>
		   				</table>
		   				</form>
		   				<br/>
		   			</div>
		   		</div>
		   		
		   		<div class="row">
		   			<div class="col-md-12">
		   				<div class="col-md-offset-10 col-md-2">
		   					<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addBook" data-ng-click="reset()"><strong>Add book</strong> <span class="glyphicon glyphicon-plus-sign"></span></button>
		   				</div>
		   			</div>
		   		</div>
		   		
		   		<br/>

				    <div id="addBook" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">      
				            	<div class="modal-body">
				            		<div class="row">
						            	<div class="col-sm-offset-1 col-sm-10">
											<div class="alert alert-danger fade in"  data-ng-show="error">
												<a href="" class="close" aria-label="close" data-ng-click="refresh()">&times;</a>
												<p class="text-center">{{error}}</p>
											</div>
										</div>
									</div>
				            		<form role="form" data-ng-submit="addBook()">
				            			<div class="form-group">
				            				<label for="title">Title:</label>
				            				<input type="text" class="form-control" name="title" id="title" required="required" data-ng-model="book.title" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="author">Author:</label>
				            				<input type="text" class="form-control" name="author" id="author" required="required" data-ng-model="book.author" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="price">Price:</label>
				            				<input class="form-control" type="number" min="0" step="0.01" name="price" id="price" required="required" data-ng-model="book.price" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="isbn">ISBN:</label>
				            				<input type="text" class="form-control" name="isbn" id="isbn" required="required" data-ng-model="book.isbn" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="cover">Cover resource:</label>
				            				<input type="text" class="form-control" name="cover" id="cover" data-ng-model="book.cover" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="description">Book description:</label>
				            				<textarea class="form-control" rows="5" name="description" id="description" required="required" data-ng-model="book.description"></textarea>
				            			</div>
				            			<div class="form-group">
				            				<label for="category">Category:</label>
				            				<select class="form-control" data-ng-model="book.category"
				            						data-ng-options="category.id as category.name for category in categories">
				            				</select>
				            			</div>
				            			<div class="form-group">
				            				<label for="language">Language:</label>
				            				<input type="text" class="form-control" name="language" id="language" required="required" data-ng-model="book.language" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="publisher">Publisher:</label>
				            				<input type="text" class="form-control" name="publisher" id="publisher" required="required" data-ng-model="book.publisher" autocomplete="off"/>
				            			</div>
				            			<div class="form-group" id="datepick">
				            				<label for="date">Release date:</label>
				            				<input type="text" class="form-control" name="date" id="date" required="required" data-ng-model="book.releaseDate" autocomplete="off"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="items">Available items:</label>
				            				<input class="form-control" type="number" min="1" name="items" id="items" required="required" data-ng-model="book.availableItems" autocomplete="off"/>
				            			</div>
				            			<button type="submit" class="btn btn-success">Confirm <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				            		</form>
				            	
				            	</div>
				          	</div>
				    	</div>
				    </div> 	
				    
				    <div id="myBook" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Change description</h4>
				            	</div>          
				            	<div class="modal-body">
				            		<form role="form">
				            			<div class="form-group">
				            				<label for="cover">Language:</label>
				            				<input type="text" class="form-control" name="language" id="language" data-ng-model="book.language" disabled="disabled"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="cover">Release date:</label>
				            				<input type="text" class="form-control" name="date" id="date" data-ng-model="book.releaseDate" disabled="disabled"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="cover">Cover resource:</label>
				            				<input type="text" class="form-control" name="cover" id="cover" data-ng-model="book.cover"/>
				            			</div>
				            			<div class="form-group">
				            				<label for="price">Book description:</label>
				            				<textarea class="form-control" rows="5" name="description" id="description" required="required" data-ng-model="book.description"  data-ng-init="book.description"></textarea>
				            			</div>
				            			<button type="submit" class="btn btn-success" data-ng-click="changeDescription()">Confirm <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				            		</form>
								
				            	</div>
				          	</div>
				    	</div>
				    </div>
				    
				    <div id="myPrice" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Change price</h4>
				            	</div>          
				            	<div class="modal-body">
				            		<form role="form">
				            			<div class="form-group">
				            				<label for="price">Enter new price:</label>
				            				<input class="form-control" type="number" min="0" step="0.01" name="price" id="price" required="required" value="book.price" data-ng-model="book.price" autocomplete="off"/>
				            			</div>
				            			<button type="submit" class="btn btn-success" data-ng-click="changePrice()">Confirm <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				            		</form>
				            	</div>
				          	</div>
				    	</div>
				    </div>
				    
				    <div id="myCategory" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Change category</h4>
				            	</div>          
				            	<div class="modal-body">
				            		<form role="form">
				            			<div class="form-group">
				            				<label for="category">Choose category:</label>
				            				<select class="form-control" data-ng-model="book.category.name"
				            						data-ng-options="category.name as category.name for category in categories">
				            					
				            				</select>
				            			</div>
				            			<button type="submit" class="btn btn-success" data-ng-click="changeCategory()">Confirm <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				            		</form>   		
				     
				            	</div>
				          	</div>
				    	</div>
				    </div>
				    
				    <div id="myQuantity" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Available items</h4>
				            	</div>          
				            	<div class="modal-body">
				            		<form role="form">
				            			<div class="form-group">
				            				<label for="quantity">Enter quantity:</label>
				            				<input class="form-control" type="number" min="0" name="quantity" id="quantity" required="required" value="book.availableItems" data-ng-model="book.availableItems" autocomplete="off"/>
				            			</div>
				            			<button type="submit" class="btn btn-success" data-ng-click="changeQuantity()">Confirm <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				            		</form>
				            	</div>
				          	</div>
				    	</div>
				    </div>
				    
				     <div id="deleteBook" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Remove book</h4>
				            	</div>          
				            	<div class="modal-body">
				            			<div class="form-group">
				            				<p>Are you sure you want to delete this book?</p>
				            			</div>
				            			<button type="button" class="btn btn-success" data-ng-click="deleteBook(book.id)" data-dismiss="modal">Yes <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">No <span class="glyphicon glyphicon-remove"></span></button>
				            	</div>
				          	</div>
				    	</div>
				    </div>  	
				    
		</div>