<div class="container">

				<div class="row">
		            <div class="col-lg-12">
		                <h1 class="page-header">Categories</h1>
		            </div>
	       		</div>
	        	
	        	<div class="row">
	   				<div class="col-md-12">
		   				<form id="form">
		   				<table data-datatable="ng" class="table table-hover table-bordered">
		   					<thead>
			   					<tr>
			   						<th>ID</th>
			   						<th>Name</th>
			   						<th>Books</th>
			   						<th></th>
			   					</tr>
		   					</thead>
		   					<tbody>
			   					<tr data-ng-repeat="category in categories">
			   						<td class="col-sm-1 text-center"><strong>{{category.id}}</strong></td>
			   						<td><a href="" data-toggle="modal" data-target="#myCategory" data-ng-click="findCategory(category.name)">{{category.name}}</a></td>
			   						<td><a href="" data-toggle="modal" data-target="#myBooks" data-ng-click="findBooks(category.name)">{{category.name}} books</a></td>
			   						<td class="col-sm-1 text-center"><button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#removeCategory" data-ng-click="findCategory(category.name)"><span class="glyphicon glyphicon-remove"></span></button></td>
			   					</tr>
		   					</tbody>
		   				</table>
		   				</form>
		   				<br/>
		   			</div>
		   		</div>
		   		
		   		<div class="row">
		   			<div class="col-md-12">
		   				<div class="col-md-offset-10 col-md-2">
		   					<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#newCategory"><strong>Add category</strong> <span class="glyphicon glyphicon-plus-sign"></span></button>
		   				</div>
		   			</div>
		   		</div>
		   		
		   		<br/>
		   		
		   			<div id="newCategory" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">New category</h4>
				            	</div>          
				            	<div class="modal-body">
				            		<form role="form">
				            			<div class="form-group">
				            				<label for="categoryName">Enter name:</label>
				            				<input type="text" class="form-control" name="categoryName" id="categoryName" required="required" data-ng-model="category.name" autocomplete="off"/>
				            			</div>
				            			<button type="submit" class="btn btn-success" data-ng-click="newCategory()">Confirm <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				            		</form>
				            	</div>
				          	</div>
				    	</div>
				    </div> 	
				    
				    <div id="myCategory" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Rename category</h4>
				            	</div>          
				            	<div class="modal-body">
				            		<form role="form">
				            			<div class="form-group">
				            				<label for="categoryName">Enter name:</label>
				            				<input type="text" class="form-control" name="categoryName" id="categoryName" required="required" value="{{category.name}}" data-ng-model="category.newName" autocomplete="off"/>
				            			</div>
				            			<button type="submit" class="btn btn-success" data-ng-click="rename(category.name,category.newName)">Confirm <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
				            		</form>
				            	</div>
				          	</div>
				    	</div>
				    </div> 
				    
				    <div id="myBooks" class="modal fade" role="dialog">
				    	<div class="modal-dialog modal-lg">
				    		<div class="modal-content">
				    			<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h3 class="modal-title">Books</h3>
				            	</div> 
				            	<div class="modal-body">
				            		
						   				<table data-datatable="ng" class="table">
						   					<thead>
							   					<tr>
							   						<th>ID</th>
							   						<th>Title</th>
							   						<th>Author</th>
							   						<th>Price</th>
							   						<th>Release date</th>
							   					</tr>
						   					</thead>
						   					<tbody>
							   					<tr data-ng-repeat="book in books">
							   						<td>{{book.id}}</td>
							   						<td>{{book.title}}</td>
							   						<td>{{book.author}}</td>
							   						<td>{{book.price|currency:"$"}}</td>
							   						<td>{{book.releaseDate}}</td>
							   					</tr>
						   					</tbody>
						   				</table>
					   				
		   						</div>
		   						<div class="modal-footer">
		   							<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove"></span></button>
		   						</div>
		   					</div>
		   			</div>
		   		</div>
		   		
		   	<div id="removeCategory" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Remove category</h4>
				            	</div>          
				            	<div class="modal-body">
				            			<div class="form-group">
				            				<p>Are you sure you want to delete this category?</p>
				            			</div>
				            			<button type="button" class="btn btn-success" data-ng-click="removeCategory(category.name)" data-dismiss="modal">Yes <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">No <span class="glyphicon glyphicon-remove"></span></button>
				            	</div>
				          	</div>
				    	</div>
				    </div>  	
</div>