<div class="container">
	
	        <div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">Contact info</h1>
	            </div>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-3">
					<div class="list-group">
		            	<a href="#/accountDetails" class="list-group-item">Account details</a>
		                <a href="#/contactInfo" class="list-group-item">Contact info</a>
		                <a href="#/orderHistory" class="list-group-item">Order history</a>
		                <a href="#/wishlist" class="list-group-item">Wishlist</a>
	          		</div>
	            </div>
		      	<div class="col-md-6 pull-left">
		      		<form role="form" data-ng-submit="changeContact(contact.account.id)">
				    	<div class="form-group">
				        	<label for="address">Address:</label>
				            <input type="text" class="form-control" name="address" id="address" required="required" data-ng-model="contact.address" value="contact.address" autocomplete="off"/>
				       </div>
				       <div class="form-group">
				            <label for="City">City:</label>
				            <input type="text" class="form-control" name="city" id="city" required="required" data-ng-model="contact.city" value="contact.city" autocomplete="off"/>
				       </div>
				       <div class="form-group">
				            <label for="postalCode">Postal code:</label>
				            <input type="text" class="form-control" name="postalCode" id="postalCode" data-ng-model="contact.postalCode" value="contact.postalCode" autocomplete="off"/>
				       </div>
				       <div class="form-group">
				            <label for="username">Country:</label>
				            <input type="text" class="form-control" name="country" id="country" required="required" data-ng-model="contact.country" value="contact.country" autocomplete="off"/>
				       </div>
				       
				            <button type="submit" class="btn btn-success">Save changes <span class="glyphicon glyphicon-ok"></span></button>
				       </form>
				 </div>
				 
				  <div id="myContact" class="modal fade" role="dialog">
					<div class="modal-dialog">	
						<div class="modal-content">
					    	
					    	<div class="modal-header">
					        	<button type="button" class="close" data-dismiss="modal">&times;</button>
					            <h4 class="modal-title">Contact info</h4>
					        </div>          
					        
					        <div class="modal-body">
								<p>You have updated your contact informations.</p>
					        </div>
					        
					        <div class="modal-footer">
					        	<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Continue</button>
					        </div>
						</div>	
					</div>
				</div>
				 
			</div>
			<br/>
</div>