<div class="container">

				<div class="row">
		            <div class="col-lg-12">
		                <h1 class="page-header">Customers</h1>
		            </div>
	       		</div>
	        	
	        	<div class="row">
	   				<div class="col-md-12">
		   				<form id="form">
		   				<table data-datatable="ng" class="table table-hover table-bordered">
		   					<thead>
			   					<tr>
			   						<th>ID</th>
			   						<th>Full Name</th>
			   						<th>Email</th>
			   						<th>Username</th>
			   						<th>Registration date</th>
			   						<th>Orders</th>
			   						<th>User state</th>
			   						<th></th>
			   					</tr>
		   					</thead>
		   					<tbody>
			   					<tr data-ng-repeat="user in users">
			   						<td class="text-center"><strong>{{user.id}}</strong></td>
			   						<td><a href="" data-toggle="modal" data-target="#myUser" data-ng-click="findContact(user.id)">{{user.firstName}} {{user.lastName}}</a></td>
			   						<td>{{user.email}}</td>
			   						<td>{{user.username}}</td>
			   						<td>{{user.registrationDate}}</td>
			   						<td><a href="" data-toggle="modal" data-target="#myOrders" data-ng-click="findOrders(user.id)">{{user.firstName}}'s orders</a></td>
			   						<td class="text-center"><a href="" data-ng-click="changeState(user.username)"><strong>{{user.state}}</strong></a></td>
			   						<td class="text-center"><button class="btn btn-primary btn-danger btn-xs" data-toggle="modal" data-target="#deleteUser" data-ng-click="findUser(user.username)"><span class="glyphicon glyphicon-remove"></span></button></td>
			   					</tr>
		   					</tbody>
		   				</table>
		   				</form>
		   				<br/>
		   			</div>
		   		</div>
		   		
		   			<div id="myUser" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Contact info</h4>
				            	</div>   
				            	       
				            	<div class="modal-body">
				            		<form class="form-horizontal" role="form">
										<div class="form-group">
											<label class="control-label col-sm-3" for="address">Address</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="address" disabled="disabled" data-ng-model="contact.address" value="contact.address"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-3" for="city">City</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="city" disabled="disabled" data-ng-model="contact.city" value="contact.city"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-3" for="postalCode">Postal code</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="postalCode" disabled="disabled" data-ng-model="contact.postalCode" value="contact.postalCode"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-3" for="Country">Country</label>
											 <div class="col-sm-9">
											 	<input type="text" class="form-control" name="country" disabled="disabled" data-ng-model="contact.country" value="contact.country"/>
											 </div>
										</div>
									</form>
									
									<div class="row">
										<div class="col-sm-3 col-sm-offset-9">        	
											<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove"></span></button>
										</div>
									</div>
									
				            	</div>
				          	
				          	</div> 	
				    	</div>
				    </div> 

				    
		   			<div id="myOrders" class="modal fade" role="dialog">
				    	<div class="modal-dialog modal-lg">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h3 class="modal-title">Orders</h3>
				            	</div>          
				            	<div class="modal-body">
			
					   				<table data-datatable="ng" class="table">
					   					<thead>
						   					<tr>
						   						<th>Order number</th>
						   						<th>Payment type</th>
						   						<th>Order time</th>
						   						<th>Total cost</th>
						   					</tr>
					   					</thead>
					   					<tbody>
						   					<tr data-ng-repeat="order in orders">
						   						<td>{{order.orderNumber}}</td>
						   						<td>{{order.paymentOption.type}}</td>
						   						<td>{{order.orderDate}}</td>
						   						<td>{{order.totalCost|currency:"$"}}</td>
						   					</tr>
					   					</tbody>
					   				</table>
									<div class="modal-footer">
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove"></span></button>
				            		</div>
				            	</div>
				          	</div>
				    	</div>
				    </div> 	
				    
				    <div id="deleteUser" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Delete user</h4>
				            	</div>          
				            	<div class="modal-body">
				            			<div class="form-group">
				            				<p>Are you sure you want to delete this user?</p>
				            			</div>
				            			<button type="button" class="btn btn-success" data-ng-click="deleteUser(user.username)" data-dismiss="modal">Yes <span class="glyphicon glyphicon-ok"></span></button>
				            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">No <span class="glyphicon glyphicon-remove"></span></button>
				            	</div>
				          	</div>
				    	</div>
				    </div>  		
				    
</div>