<div class="container">
   		<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Orders</h1>
            </div>
        </div>
        
        <div class="row">

   			<div class="col-md-12">
   				<form id="form">
   				<table data-datatable="ng" class="table table-hover table-bordered">
   					<thead>
	   					<tr>
	   						<th>ID</th>
	   						<th>Order number</th>
	   						<th>Order time</th>
	   						<th>Total cost</th>
	   					</tr>
   					</thead>
   					<tbody>
	   					<tr data-ng-repeat="order in orders">
	   						<td class="col-md-1 text-center"><strong>{{order.id}}</strong></td>
	   						<td><a href="" data-toggle="modal" data-target="#myOption" data-ng-click="findOption(order.orderNumber)">{{order.orderNumber}}</a></td>
	   						<td>{{order.orderDate}}</td>
	   						<td class="col-md-2 text-center">{{order.totalCost|currency:"$"}}</td>
	   					</tr>
   					</tbody>
   				</table>
   				</form>
   				<br/>
   			</div>
   		</div>
   		
   					<div id="myOption" class="modal fade" role="dialog">
				    	<div class="modal-dialog">
				            <div class="modal-content">
				            	<div class="modal-header">
				            		<button type="button" class="close" data-dismiss="modal">&times;</button>
				            		<h4 class="modal-title">Payment info</h4>
				            	</div> 
				            	         
				            	<div class="modal-body">
				            		<form class="form-horizontal" role="form">
										<div class="form-group">
											<label class="control-label col-sm-3" for="fullName">Full name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="fullName" disabled="disabled" data-ng-model="option.fullName" value="option.fullName"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-3" for="city">Type</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" name="type" disabled="disabled" data-ng-model="option.type" value="option.type"/>
											</div>
										</div>	
									</form>
									
				            		<div class="row">
				            			<div class="col-md-3 col-md-offset-9">
				            				<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove"></span></button>
										</div>
									</div>
				            	</div>
				            	
				          	</div>
				    	</div>
				    </div> 
    
   </div>