<div class="container">
	   		<div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">Order history</h1>
	            </div>
	        </div>
	        
	        <div class="row">
	        	<div class="col-md-3">
					<div class="list-group">
		            	<a href="#/accountDetails" class="list-group-item">Account details</a>
		                <a href="#/contactInfo" class="list-group-item">Contact info</a>
		                <a href="#/orderHistory" class="list-group-item">Order history</a>
		                <a href="#/wishlist" class="list-group-item">Wishlist</a>
	          		</div>
	            </div>
	
	   			<div class="col-md-6">
	   				<form id="form">
	   				<table data-datatable="ng" class="table table-hover table-bordered">
	   					<thead>
		   					<tr>
		   						<th>Order number</th>
		   						<th>Order time</th>
		   						<th>Total cost</th>
		   					</tr>
	   					</thead>
	   					<tbody>
		   					<tr data-ng-repeat="order in orders">
		   						<td>{{order.orderNumber}}</td>
		   						<td>{{order.orderDate}}</td>
		   						<td>{{order.totalCost|currency:"$"}}</td>
							</tr>
	   					</tbody>
	   				</table>
	   				</form>
	   				<br/>
	   			</div>
	   		</div>
</div>
