<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                	Shopping cart
                </h1>
            </div>
        </div>

        <div class="row" data-ng-repeat="book in books">
            <div class="col-md-3">
                <a href=""  data-ng-click="viewBook(book.book.id)">
                    <img class="img-responsive" data-ng-src="../../static/images/{{book.book.cover}}" alt="{{book.book.title}}"/>
                </a>
                <br/>
            </div>
            <div class="col-md-6">
                <h3><a href="" data-ng-click="viewBook(book.book.id)">{{book.book.title}}</a></h3>
                <h4>{{book.book.author}}</h4>
                <h3>{{book.book.price|currency:"$"}}</h3>
            </div>
            <div class="col-md-3">
            	<div class="panel panel-default">
   					<div class="panel-heading">
						<form role="form">
	            		<div class="form-group">
	            			<label for="quantity">Quantity: {{book.quantity}}</label>
							<select class="form-control" id="quantity" data-ng-name="page" data-ng-options="page for page in Range(1, book.quantity + book.book.availableItems)" data-ng-model="book.quantity" data-ng-change="updateOrder(book.book.id, book.quantity)"></select> 
	                	</div>
	                	</form>
					</div>
    				<div class="panel-body">
    					<h4 class="text-center">{{book.book.price*book.quantity|currency:"$"}}</h4>
    				</div>
    				<div class="panel-footer">
    					<button type="button" class="btn btn-warning btn-block" data-ng-click="removeBook(book.book.id)"><span class="glyphicon glyphicon-remove"></span> Remove</button>
    				</div>
  				</div>
            </div>
        </div>
        
        <hr/>
        
		<div class="row">
        	<div class="col-lg-offset-9 col-lg-3">
        		<div class="panel panel-default">
    				<div class="panel-body text-center">
    					<p><strong>Total price</strong></p>
    					<h3>{{order.totalCost|currency:"$"}}</h3>
    				</div>
    				<div class="panel-footer">
    					<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myOrder">Order</button>
    				</div>
        		</div>
        	</div>
        </div>
		
		<div id="myOrder" class="modal fade" role="dialog">
			    	<div class="modal-dialog">
			    	
			            <div class="modal-content">
			            	<div class="modal-header">
			            		<button type="button" class="close" data-dismiss="modal">&times;</button>
			            		<h4 class="modal-title">Order details</h4>
			            	</div>          
			            	<div class="modal-body">
			            		<div class="row">	
			            			<div class="col-sm-offset-1 col-sm-10">				
										<div class="alert alert-danger fade in"  data-ng-show="error">
											<a href="" class="close" aria-label="close" data-ng-click="refresh()">&times;</a>
											<p class="text-center">{{error}}</p>
										</div>
									</div>
								</div>
			            		<form role="form" data-ng-submit="buy()">
			            			<div class="form-group">
			            				<label for="fullName">Full name:</label>
			            				<input type="text" class="form-control" name="fullName" id="fullName" required="required" data-ng-model="payment.fullName" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="cardNumber">Card number:</label>
			            				<input type="text" class="form-control" name="cardNumber" id="cardNumber" required="required" data-minlength="12" data-maxlength="19" title="Card number must be long between 12 and 19 numbers" data-ng-model="payment.cardNumber" autocomplete="off"/>
			            			</div>
			            			<div class="form-group" id="datepick">
			            				<label for="expirationDate">Expiration date:</label>
			            				<input type="text" class="form-control" name="expirationDate" id="expirationDate" required="required" data-ng-model="payment.expirationDate" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="cvv2">CVV2 number:</label>
			            				<input type="text" class="form-control" name="cvv2" id="cvv2" required="required" data-minlength="3" data-maxlength="4" title="CVV2 must be long between 3 and 4 numbers" data-ng-model="payment.CVV2" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
	            						<label for="card">Card type:</label>
	                					<select class="form-control" id="card" data-ng-model="payment.type">
	                						<option>American Express</option>
	                						<option>Maestro</option>
	                						<option>Mastercard</option>
	                						<option>Visa</option>
	                					</select>
	                				</div>
			            			<button type="submit" class="btn btn-success">Buy <span class="glyphicon glyphicon-ok"></span></button>
			            			<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel <span class="glyphicon glyphicon-remove"></span></button>
			            		</form>
			            	</div>
			            	
			        	</div>	
			    	</div>
			    </div>
</div>
