<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">New releases</h1>
		</div>
	</div>   
			<div class="row">
	            <div class="col-md-3">
	                <p class="lead">Categories</p>
	                <div class="list-group">
	                	<a href="" class="list-group-item" data-ng-repeat="category in categories" data-ng-click="findBooks(category.name)">{{category.name}}</a>
	               	</div>   
	            </div>
	
	            <div class="col-md-9">
	                <div class="row">
	
	                    <div class="col-sm-4 col-lg-4 col-md-4"  data-ng-repeat="book in books">
	                        <div class="thumbnail">
	                        	<a href="" data-ng-click="viewBook(book.id)"><img data-ng-src="../../static/images/{{book.cover}}" alt="{{book.title}}"/></a>
	                        	<div class="caption">
	                        		<p><strong><a href=""  data-ng-click="viewBook(book.id)">{{book.title}}</a></strong></p>
	                        		<p>{{book.author}}</p>
	                        		<h4 class="pull-right">{{book.price|currency:"$"}}</h4>
	                    		</div>
	                   			 <div>
	                    			<button type="button" class="btn btn-primary btn-block" data-ng-click="addToCart(book.id)" data-toggle="modal" data-target="#myCart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button> 
	                    		</div>
	                 	 	</div>
	                    </div>
	
	                </div>
	                
	    <div id="myCart" class="modal fade" role="dialog">
			<div class="modal-dialog">	
				<div class="modal-content">
			    	
			    	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			            <h4 class="modal-title">Book added to your shopping cart</h4>
			        </div>          
			        
			        <div class="modal-body">
						<p>Total cost: <strong>{{order.totalCost|currency:"$"}}</strong></p>
			        </div>
			        
			        <div class="modal-footer">
			        	<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Continue</button>
			        </div>
				</div>	
			</div>
		</div>
	            
	    </div>
 	</div>
    
 </div>