<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Wishlist</h1>
            </div>
        </div>
        
        <div class="row">
        	<div class="col-md-3">
				<div class="list-group">
		            	<a href="#/accountDetails" class="list-group-item">Account details</a>
		                <a href="#/contactInfo" class="list-group-item">Contact info</a>
		                <a href="#/orderHistory" class="list-group-item">Order history</a>
		                <a href="#/wishlist" class="list-group-item">Wishlist</a>
	          	</div>
            </div>
	      	<div class="col-md-9">
	      		<div class="row">
		      		<form role="form">
	            		<div class="form-group col-md-offset-4 col-md-4">
	            			<label for="wish">Order by:</label>
	                		<select class="form-control" id="wish" data-ng-model="sortOrder">
	                			<option value="-soldItems">Popularity</option>
	                			<option value="-price">Price (highest first)</option>
	                			<option value="+price">Price (lowest first)</option>
	                			<option value="+title">Title</option>
	                		</select>
	                	</div>
	                </form>
                </div>
		        <div class="row" data-ng-repeat="book in books | orderBy: sortOrder | pagination: currentPage * pageSize | limitTo: pageSize">
		            <div class="col-md-4">
		                <a href="" data-ng-click="viewBook(book.id)">
		                    <img class="img-responsive" data-ng-src="../../static/images/{{book.cover}}" alt="{{book.title}}"/>
		                </a>
		                <br/>
		            </div>
		            <div class="col-md-4">
		                <h3><a href="" data-ng-click="viewBook(book.id)">{{book.title}}</a></h3>
		                <h4>{{book.author}}</h4>
		                <h3>{{book.price|currency:"$"}}</h3>
		            </div>
		            <div class="col-md-4">
			            <div class="panel panel-default">
	    					<div class="panel-body">
	    						<button type="button" class="btn btn-primary btn-block" data-ng-click="addToCart(book.id)" data-toggle="modal" data-target="#myCart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
	    					</div>
	    					<div class="panel-footer">
	    						<button type="button" class="btn btn-warning btn-block" data-ng-click="removeFromList(book.id, account.username)"><span class="glyphicon glyphicon-remove"></span> Remove</button>
	    					</div>
	  					</div>
					</div>
		        </div>
		
			</div>
		</div>
		
		<div id="myCart" class="modal fade" role="dialog">
			<div class="modal-dialog">	
				<div class="modal-content">
			    	
			    	<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			            <h4 class="modal-title">Book added to your shopping cart</h4>
			        </div>          
			        
			        <div class="modal-body">
						<p>Total cost: <strong>{{order.totalCost|currency:"$"}}</strong></p>
			        </div>
			        
			        <div class="modal-footer">
			        	<button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Continue</button>
			        </div>
				</div>	
			</div>
		</div>
		
       <div class="row text-center">
	        <div data-ng-show="books.length">
				<ul class="pagination">
					<li>
						<button type="button"  class="btn btn-primary" data-ng-disabled="currentPage == 0" data-ng-click="currentPage=currentPage-1"><span class="glyphicon glyphicon-arrow-left"></span></button>
					</li>
					<li>
						<span id="paging"><strong>Page {{currentPage + 1}} of {{numberOfPages}}</strong></span>
					</li>
					<li>
						 <button type="button" class="btn btn-primary" data-ng-disabled="currentPage >= books.length/pageSize - 1" data-ng-click="currentPage = currentPage+1"><span class="glyphicon glyphicon-arrow-right"></span></button>
					</li>
				</ul>
			</div>
		</div>
        <br/>
</div>