.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.book-item {
    margin-bottom: 25px;
}

#paging {
	float: none;
}

.thumbnail {
	padding: 4px;
}

.thumbnail a>img {
	width: 252px;
	height: 352px;
}

.img-responsive {
	width: 252px;
	height: 352px;
}

#title{
	color: steelblue;
}