body {
    padding-top: 25px;
}


footer {
	padding: 25px;
	background-color: #006dcc;
	text-align: center;
	color: white; 
}

.jumbotron {
	background-color: lightblue;
	font-family: Verdana, Geneva, sans-serif;
}