<!DOCTYPE html>
<html data-ng-app="logger" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
     	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
 		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
 		 		<link rel="stylesheet" href="/static/css/header-footer.css"></link>
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        
        <script src="../../static/js/LoginController.js"></script>
        <title>Welcome to Bookstore</title>
    </head>
    <body>
    <div class="jumbotron">
    	<div class="container text-center">
    		<h1>Bookstore</h1>
    		<p>Online service for ordering books</p>
    	</div>
    </div>
    <div class="container" data-ng-controller="LoginController">
    	<div class="row">
    		<div class="col-md-4 col-md-offset-4">
    			<div>
	    	 		<form role="form" th:action="@{/login}" method="post">
	    	 		
			        	<div th:if="${param.error}" class="alert alert-danger fade in">
			        		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			            	<p>Invalid username or password!</p>
			        	</div>
	
			        	<div th:if="${param.logout}" class="alert alert-success fade in">
			            	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			            	<p>You have been logged out!</p>
			        	</div>
			
			            <div class="form-group">
			            	<input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required="required" autocomplete="off"/>
			            </div>
			            
			            <div class="form-group">
			            		 <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required="required" autocomplete="off"/>
			            </div>
			            <div class="form-group">
			            	<button type="submit" class="btn btn-primary btn-block">Log In</button>
			            </div>  
	        		</form>
       	 		</div>
       			<br/>
       	 		<div>
       	 			<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Register</button>
       	 		</div>
       	 		
       	 		
       	 		<div id="myModal" class="modal fade" role="dialog">
			    	<div class="modal-dialog">
			            <div class="modal-content">
			            	<div class="modal-header">
			            		<button type="button" class="close" data-dismiss="modal">&times;</button>
			            		<h3 class="modal-title">Register</h3>
			            	</div>          
			            	<div class="modal-body">
				            	<div class="row">
					            	<div class="col-sm-offset-1 col-sm-10">
										<div class="alert alert-danger fade in"  data-ng-show="error">
											<a href="" class="close" aria-label="close" data-ng-click="refresh()">&times;</a>
											<p class="text-center">{{error}}</p>
										</div>
									</div>
								</div>
			            		<form role="form" data-ng-submit="registerUser()">
			            			<div class="form-group">
			            				<label for="firstName">First name:</label>
			            				<input type="text" class="form-control" name="firstName" id="firstName" required="required" data-ng-model="user.firstName" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="lastName">Last name:</label>
			            				<input type="text" class="form-control" name="lastName" id="lastName" required="required" data-ng-model="user.lastName" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="email">Email:</label>
			            				<input type="text" class="form-control" name="email" id="email" required="required" data-ng-model="user.email" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="username">Username:</label>
			            				<input type="text" class="form-control" name="username" id="username" data-minlength="6" title="Username must have a minimum length of six characters!" required="required" data-ng-model="user.username" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="password">Password:</label>
			            				<input type="password" class="form-control" name="password" id="password" data-minlength="6" title="Password must have a minimum length of six characters!" required="required" data-ng-model="user.password" autocomplete="off"/>
			            			</div>
			            			<hr/>
			            			<div class="form-group">
			            				<label for="address">Address:</label>
			            				<input type="text" class="form-control" name="address" id="address" required="required" data-ng-model="contact.address" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="city">City:</label>
			            				<input type="text" class="form-control" name="city" id="city" required="required" data-ng-model="contact.city" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="postalCode">Postal code:</label>
			            				<input type="text" class="form-control" name="postalCode" id="postalCode" data-ng-model="contact.postalCode" autocomplete="off"/>
			            			</div>
			            			<div class="form-group">
			            				<label for="country">Country:</label>
			            				<input type="text" class="form-control" name="country" id="country" required="required" data-ng-model="contact.country" autocomplete="off"/>
			            			</div>
			            			<input type="submit" class="btn btn-success btn-lg" value="Register"/>
			            			<input type="button" class="btn btn-danger pull-right btn-lg" data-dismiss="modal" value="Cancel"/>
			            		</form>
			            	</div>
			          </div>
			    	</div>
			    </div>
       		
 			</div>
    	</div>
    </div>
    </body>
</html>