<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
	
		<div class="navbar navbar-inverse" th:fragment="header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Bookstore</a>			
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
						<li><a href="#/customers"><span class="glyphicon glyphicon-user"></span> Customers</a></li>
						<li><a href="#/orders"><span class="glyphicon glyphicon-usd"></span> Orders</a></li>
						<li><a href="#/books"><span class="glyphicon glyphicon-book"></span> Books</a></li>
						<li><a href="#/categories"><span class="glyphicon glyphicon-folder-open"></span> Categories</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</body>
</html>