<!DOCTYPE html>
<html data-ng-app="bookshop" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="../../../static/js/SearchController.js"></script>

    </head>
	<body>
	
		<div class="navbar navbar-default" th:fragment="header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Bookstore</a>			
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="#/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-user"></span> Profile <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#/accountDetails">Account details</a></li>
									<li><a href="#/contactInfo">Contact info</a></li>
									<li><a href="#/orderHistory">Order history</a></li>
									<li><a href="#/wishlist">Wishlist</a></li>
								</ul>
							</li>
						<li><a href="#/bestsellers"><span class="glyphicon glyphicon-star"></span> Bestsellers</a></li>
						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#/shoppingCart"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
						<li><a href="/logout" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div th:fragment="search" data-ng-controller="SearchController">
			<div class="container">
				<div class="row">
    				<div class="col-md-5 col-md-offset-4">
    					<div>
							<form class="form-horizontal" role="search" data-ng-submit="searchBook(details)">
								<div class="form-group input-group">
										<input type="text" class="form-control input-lg" name="item" id="item" placeholder="Enter title / author / ISBN" data-ng-model="details" required="required" autocomplete="off"/>
										<span class="input-group-btn">
										<button type="submit" class="btn btn-primary btn-lg">
			     							<span class="glyphicon glyphicon-search"></span>
			    						</button>
			    						</span>
			    				</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>